{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
             <div class="card-group">
            <div class="card">
                <div class="card-header">{{ worktasks.task }}  by {{ worktasks.user }}</div>
                <div class="card-body">{{ worktasks.task.task_content|safe }}
                    <p> {{ worktasks.start_time }}</p>
                    <p>{{worktasks.end_time}}</p>
                </div>

                <div class="card-footer">
                    {% if worktasks.start_time is null %}
                      <a href={{ worktasks.startCount }} class="button" >Start Count</a>
                        {% else %}
                      <a href="{{ worktasks.endCount }}" class="button" >End Count</a>
                    {% endif %}
                      <a href={{ worktasks.vaildation }} class="button" >Start Count</a>
                </div>
            </div>
             </div>
        </div>
    </div>
{% endblock %}