{% extends 'base.html' %}
{% block title %}
    驗證
{% endblock %}
{% block content %}
    {{ user.userprofile }}

    {% if user.userprofile.photo %}

        <img src="{{ user.userprofile.photo.url }}" style="width:30%;height: 30%">
        <form method="post" action="{% url 'app:vaild_my_person_task' %}">
        {% csrf_token %}
         <p>驗證碼:  <input type="password" id="pass" name="password"/>
            <input type="hidden" name="task" value="{{ task }}">
             <input type="hidden" name="id" value="{{ id }}">
         <p></p>
        <input type="submit" value="驗證">
        </form>
    {% endif %}
{% endblock %}