{% extends 'base.html' %}
{% block title %}
    園區行事曆
{% endblock %}
{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
         <span> <h1 style="color:#38ff3b;" >園館行事曆</h1></span>
            <a class="btn btn-info left ml-0" href="{% url 'app:calendar' %}?{{ next_month }} ">下個月 </a>
                <a class="btn btn-info left ml-0" href="{% url 'app:calendar' %}?{{ prev_month }}">上個月 </a>
        <a class="btn btn-info left m1-0" href="{% url 'app:event_new' %}"> 新事件</a>
                    <div  style="color: blueviolet;">{{ html_cal|safe }}  </div>
    </div>
    </div>
  </div>
  </div>
{% endblock %}