{% extends 'base.html' %}
{% load static %}
{% block title %} 編輯個人資料
{% endblock %}

{% block content %}

    {% if image %}
    <img src="{{ image }}" style="width: 200px;height: 200px"/>
    {% else %}
        <img src="{% static 'drawable/personal.png' %}" style="width: 100px;height: 100px"/>

    {% endif %}
    <form method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="變更"></p>
    </form>

{% endblock %}