{% extends 'base.html' %}
{% block title %}工作任務{% endblock %}
{% block content %}
    {% if request.session.authority == 'admin' or  request.session.authority == 'servant' %}
    <a href="{% url 'app:create_work_task' %}" class="btn btn-info left mr-2">發布任務</a>
    {% endif %}

             <div class="card-columns">

    {% for task in tasks %}
        <div class="card">
        <div class="card-header ">
            <a href="{{ task.getUrl }} ">
             {{ task.task_name }}
            </a>
        </div>
         {%if task.photo  %}
                <img  src="{{ task.photo.url }}" class="card-img-top mx-auto d-block" style="width: 70%;height: 70%" >
            {% endif %}
            <div class="card-body">
            <div class="card-text"> {{ task.task_content|safe }}
             發布日期：{{ task.publish }}</div>
                </div>
        {% if task.accept_man %}
        <h7 class="card-footer">
            接受任務:{{ task.accept_man.userprofile }}
        </h7>
        </div>
        {% endif %}
    {% endfor %}
             </div>
{% endblock %}