{% extends 'base.html' %}
{% block title %}工作任務{% endblock %}
{% block content %}
    <a href="{% url 'app:create_work_task' %}" class="btn btn-info left mr-2">發布任務</a>

    {% for task in tasks %}
        <div class="card">
        <div class="card-header ">
            <a href="{{ task.getUrl }} ">
            {{ task.user }} 有一個 {{ task.task_name }}任務
            </a>

        </div>
            <div class="card-body">
            <div class="card-text"> {{ task.task_content|safe }}
             發布日期：{{ task.publish }}</div>
                </div>
        <h7 class="card-footer">

            接受任務:{{ task.accept_man.userprofile }}
        </h7>
        </div>
    {% endfor %}
{% endblock %}