{% extends 'base.html' %}
{% block title %}懸賞任務{% endblock %}
{% block content %}
    <div class="container-fluid">
    目前已有任務：
     <div class="row">

         </div>
    <div class="row">
        {% for task in tasks %}
        <div class="card">
        <div class="card-header ">
            <a href="{% url 'app:accept_work_task' task.id request.user.id %}">
            {{ task.task_name }}
            </a>

        </div>
            <div class="card-body">
            <div class="card-text"> {{ task.task_content|safe }}
             發布日期：{{ task.publish }}</div>
                </div>


    {% endfor %}
    </div>
    </div>
    <p></p>

    </div>
{% endblock %}