{% extends 'base.html' %}
{% block title %}懸賞任務{% endblock %}
{% block content %}
    <div class="container">
    目前已有任務：
     <div class="row">

     <a href="{% url 'app:manage_award_task' %}" class="btn btn-info left mr-2">所有任務</a>
         <a href="{% url 'app:create_award_task' %}" class="btn btn-info left mr-2">發布任務</a>

    <a href="{% url 'app:my_award_task' request.user.id %}" class="btn btn-info left mr-2">我的任務</a>
        </div>

        <div class="row">我發布的任務</div>
        <div class="card-columns">
        {% for task in my_depoly_tasks %}

        <div class="card">
        <div class="card-header ">
            {{ task.user }} 有一個 {{ task.task_name }}任務

        </div>
             {% if task.photo %}
                <img  src="{{ task.photo.url }}" class="card-img-top mx-auto d-block" style="width: 70%;height: 70%;" >
            {% endif %}
            <div class="card-body">

            <div class="card-text">
                {{ task.task_content|safe }}
                 發布日期　{{ task.publish }}
            </div>
                </div>
        <div class="card-footer">接受任務者:{{ task.accept_man.userprofile }} </div>
        </div>
    {% endfor %}
        </div>

        <div class="row">我接受的任務</div>
        <div class="card-columns">
        {% for task in my_accept_tasks %}

        <div class="card">
        <div class="card-header ">
            {{ task.user }} 有一個 {{ task.task_name }}任務

        </div>
             {% if task.photo %}
                <img  src="{{ task.photo.url }}" class="card-img-top mx-auto d-block" style="width: 70%;height: 70%" >
            {% endif %}
            <div class="card-body">
            <div class="card-text list-group">
               <li class="list-group-item"> {{ task.task_content|safe }}</li>
                <li class="list-group-item"> 發布日期　{{ task.publish }} </li>
            </div>
                </div>
        <div class="card-footer">接受任務者:{{ task.accept_man.userprofile }} </div>
        </div>
        {% endfor %}
        </div>


    </div>

{#        {% for task in my_accept_tasks %}#}
{#        <div class="card">#}
{#        <div class="card-header ">#}
{#            <a href="{% url 'app:accept_award_task' task.id request.user.id %}">#}
{#            {{ task.user }} 有一個 {{ task.task_name }}任務#}
{#            </a>#}
{#        </div>#}
{#            <div class="card-body">#}
{#            <div class="card-text list-group">#}
{#               <li class="list-group-item"> {{ task.task_content|safe }}</li>#}
{#                <li class="list-group-item"> 發布日期　{{ task.publish }} </li>#}
{##}
{#            </div>#}
{#                </div>#}
{#        <div class="card-footer">接受任務者:{{ task.accept_man.userprofile }} </div>#}
{##}
{#    {% endfor %}#}
{#    </div>#}
{#    </div>#}


{% endblock %}