{% extends 'base.html' %}
{% block title %}
我的點數

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="height:10%">
        <canvas id="myChart" ></canvas>
        </div><div></div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>日期</th>
                    <th>收入</th>
                    <th>支出</th>
                    <th>備註</th>

                </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                       <td>{{ account.transaction_date }}</td>
                        <td>{{ account.deposit }}</td>
                        <td>{{ account.withdraw }}</td>
                        <td>{{ account.transaction_memo }}</td>


                    </tr>

                   {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"], // 換成自己的labels
                datasets: [{
                    label: {{ users|safe }},
                    data: {{ points|safe }}, // 換成自己的data
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>

{% endblock %}