{% extends 'base.html' %}
{% block title %}

    我的團隊任務
{% endblock %}
{% block content %}
     <div class="container">
     <div class="row">  <div class="card-columns">
        {% for task in tasks %}
              <div class="card">
                <div class="card-header ">
                   {{ task.group_name }}
                    <a href="{% url 'app:add_teamtask' request.user.id  task.group_id  %}" class="button btn">參加</a>
                    <a href="{{ task.task.generate_team_qr_code  }} " class='button btn'>驗證</a>


                </div>
               <div class="card-body">
            <div class="card-text">
                 </div> </div>
              {{ task.task.task_content|safe }}
                  <p> 目前成員
                  {% for user in task.users %}
                     <p></p> {{ user }}
                  {% endfor %}

                <div class="card-footer">
                 發布日期　{{ task.task.publish }}
            </div>

              </div>
        {% endfor %}
     </div>
     </div></div>
{% endblock %}