{% extends 'base.html' %}
{% block title %}

    我的團隊任務
{% endblock %}
{% block content %}
     <div class="container">
     <div class="row">
        {% for task in team_tasks %}
              <div class="card">
                <div class="card-header ">
                   {{ task.task_name }}
                </div>
               <div class="card-body">
            <div class="card-text">
                <img  src="{{ task.photo.url }}" class="card-img-top mx-auto d-block" style="width: 20%;height: 20%" >
                {{ task.task_content|safe }}
                <p></p>

            </div> </div>
                  <div class="card-footer">
                 發布日期　{{ task.publish }}       累積點數/目標點數：{{ task.award }}/{{ task.point }}
                    <p></p>  <a href="{% url 'app:team_task_proposal' request.user.id task.id    %}" class="button btn">贊助方案</a>

            </div>

              </div>
        {% endfor %}
     </div>
     </div></div>
{% endblock %}